#!/usr/bin/env bash

#
# @file
# Remove secrets from install files
#

list_clear
declare -a environments=('dev' 'staging' 'prod');
for env in ${environments[@]}; do
  file="$4/install/default/.env.$env"
  if [ -f "$file" ]; then
    hooks_env_set_var $file "HASH_SALT" || return 1
    hooks_env_sanitize_url $file "DATABASE_URL" || return 1
    list_add_item "Sensitive data removed from: ${file##*/}"
  fi
done
echo_green_list
echo
return 0
