#!/bin/bash

#
# Sanitize the database and set UID to "admin:pass", handle modules as fit for
# development and clear caches
#

cd "$4/web" || return 1

list_clear

# Disable this to speed things up.
lando nodebug

# Sanitize the database.
drush sql-sanitize --sanitize-password=pass -y || return 1

# Keep the UID name rename after sanitize!
#D7 loft_deploy_mysql "UPDATE users SET name = 'admin' WHERE uid = 1;" || return 1
#D8 loft_deploy_mysql "UPDATE users_field_data SET name = 'admin' WHERE uid = 1;" || return 1
list_add_item "Database sanitized."

# Disable production modules.
#drush pm-disable memcache, memcache_admin, features, honeypot, mollom -y || return 1
#list_add_item "Production modules disabled."

# Enable development modules.
#drush en gop3_dev bulk_export update alter_partials_dev -y || return 1
#list_add_item "Development modules enabled."

#D8 drush cr -y > /dev/null || return 1
#D7 drush cc all -y > /dev/null || return 1
list_add_item "Drupal cache cleared."

echo_green_list
echo

return 0
